<p>
  <%= check_box_tag 'settings[show_progress_bar]', '1',
                    ['true', '1', true].include?(settings['show_progress_bar']),
                    id: 'settings_show_progress_bar' %>
  <label for="settings_show_progress_bar"><%= l(:setting_show_progress_bar) %></label>
</p>
<p>
  <%= check_box_tag 'settings[affect_done_ratio]', '1',
                    ['true', '1', true].include?(settings['affect_done_ratio']),
                    id: 'settings_affect_done_ratio' %>
  <label for="settings_affect_done_ratio"><%= l(:setting_affect_done_ratio) %></label>
</p>
